.places h1 {
  font-size: 30px;

}
article {
  width: 390px;
  border: 1px solid #FF5A5F;
  padding: 20px;
  margin: 20px;
  justify-content: space-around;
  display: flex;
  border-radius: 4px;
}

article h2{
	margin-top: 0;
}

.box{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
